@font-face {
    font-family: "FiraCode";
    src: url('assets/fonts/FiraCode/FiraCode-VariableFont_wght.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #181825;
    font-family: 'FiraCode', sans-serif;
    color: #cdd6f4;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* TOPBAR */
.topbar {
    width: 100%;
    height: 32px;
    background-color: #11111b;
    display: flex;
    z-index: 1000;
    overflow: visible;
}

.topbar-logo {
    width: 48px;
    flex-shrink: 0;

    font-family: 'FiraCode', sans-serif;
    font-size: 12px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar-dropdown-container {
    position: relative;
    height: 100%;
}

.topbar-btn {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: #cdd6f4;

    font-family: inherit;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: background-color 0.1s ease
}

.topbar-btn:hover {
    background-color: #cba6f7;
}

.topbar-btn .btn-label {
    color: #9399b2;
    transition: color 0.1s ease;
}

.topbar-btn:hover .btn-label {
    color: #181825;
}

.topbar-btn .btn-value {
    color: #cdd6f4;
    transition: color 0.1s ease;
    font-weight: 500;
}

.topbar-btn:hover .btn-value {
    color: #11111b;
}

.btn-arrow {
    flex-shrink: 0;

    width: 20px;
    height: 20px;

    background-color: #cdd6f4;
    transition: background-color 0.1s ease, transform 0.2s ease;

    mask-image: url('assets/icons/materials_arrow_drop_down.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

.topbar-btn:hover .btn-arrow {
    background-color: #11111b;
}

.topbar-dropdown-container:has(.dropdown-panel.show) .btn-arrow {
    transform: rotate(-180deg);
}

.dropdown-backdrop {
    visibility: hidden;
    opacity: 0;

    position: fixed;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 500;

    transition: visibility 0.2s, opacity 0.2s ease-in;
}

.dropdown-backdrop.show {
    visibility: visible;
    opacity: 1;
}

.dropdown-panel {
    display: none;
    position: fixed;
    top: 32px;
    bottom: 0;
    background-color: #1e1e2e;
    z-index: 1000;
    flex-direction: column;
    user-select: none;
}

.dropdown-panel.show {
    display: flex;
}

#repositories-container {
    flex: 1;
    min-width: 0;
}

#repositories-container .dropdown-panel {
    left: 48px;
    width: calc(100% - 256px - 48px);
}

#branches-container {
    width: 256px;
    flex-shrink: 0;
}

#branches-container .dropdown-panel {
    right: 0;
}

/* APP CONTAINER */
.app-container {
    display: flex;
    flex-direction: row;
    flex: 1;
}

/* LEFT SIDEBAR */
.left-sidebar {
    width: 48px;
    background-color: #11111b;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
}

.left-sidebar-btn {
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: none;
    border-radius: 0;
}

.btn-icon {
    width: 24px;
    height: 24px;

    background-color: #6c7086;

    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    transition: background-color 0.1s ease;
}

.left-sidebar-btn:hover .btn-icon {
    background-color: #cba6f7;
}

.icon-file {
    mask-image: url('assets/icons/materials_file_copy.svg'); 
}

.icon-branches {
    mask-image: url('assets/icons/materials_alt_route.svg');
}

.icon-analytics {
    mask-image: url('assets/icons/materials_bar_chart.svg');
}

.icon-todo {
    mask-image: url('assets/icons/materials_assignment.svg');
}

.icon-fetch {
    transform: rotate(-45deg);
    mask-image: url('assets/icons/materials_cached.svg');
}

/* SPLIT CONTAINER */
.split-container{
    display: flex;
    flex: 1;
}

/* MAIN CONTENT */
.main-content {
    min-width: 360px;
    flex-grow: 1;
}

/* RIGHT SIDEBAR */
.right-sidebar {
    width: 256px;
    min-width: 192px;
    background-color: #1e1e2e;

    display: flex;
    flex-direction: column;
}

.right-sidebar-bottom {
    margin-top: auto;

    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    background-color: #313244;
}

.commit-input {
    background-color: #1e1e2e;
    border: 1px solid #1e1e2e;
    border-radius: 4px;
    color: #cdd6f4;
    font-family: inherit;
    font-size: 13px;
    padding: 4px;
    outline: none;
    transition: border-color 0.1s ease;
    user-select: none;
}

.commit-input::placeholder {
    color: #6c7086;
}

.commit-input:focus {
    border-color: #cba6f7;
}

.message-input {
    height: 16px;
}

.description-input {
    min-height: 48px;
    height: 128px;
    resize: vertical;
}

.commit-btn {
    background-color: #cba6f7;
    color: #11111b;
    border: none;
    border-radius: 4px;
    padding: 4px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    transition: background-color 0.1s ease;
    user-select: none;
}

.commit-btn:hover {
    background-color: #dec7fa;
}

/* RESIZER */
.resizer {
    width: 6px;
    cursor: ew-resize;
    background-color: transparent;
}