@font-face {
    font-family: "FiraCode";
    src: url('assets/fonts/FiraCode/FiraCode-VariableFont_wght.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #181825;
    font-family: 'FiraCode', sans-serif;
    color: #cdd6f4;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* TOPBAR */
.topbar {
    width: 100%;
    height: 32px;
    background-color: #11111b;
    display: flex;
    z-index: 1000;
    overflow: visible;
}

.topbar-logo {
    width: 48px;
    flex-shrink: 0;

    font-family: 'FiraCode', sans-serif;
    font-size: 13px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar-dropdown-container {
    position: relative;
    height: 100%;
}

.topbar-btn {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: #cdd6f4;

    font-family: inherit;
    font-weight: 500;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: background-color 0.1s ease
}

.topbar-btn:hover {
    background-color: #cba6f7;
}

.topbar-btn .btn-label {
    color: #9399b2;
    transition: color 0.1s ease;
}

.topbar-btn:hover .btn-label {
    color: #181825;
}

.topbar-btn .btn-value {
    color: #cdd6f4;
    transition: color 0.1s ease;
    font-weight: 500;
}

.topbar-btn:hover .btn-value {
    color: #11111b;
}

.topbar-btn.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.btn-arrow {
    flex-shrink: 0;

    width: 20px;
    height: 20px;

    background-color: #cdd6f4;
    transition: background-color 0.1s ease, transform 0.2s ease;

    mask-image: url('assets/icons/materials_arrow_drop_down.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

.topbar-btn:hover .btn-arrow {
    background-color: #11111b;
}

.topbar-dropdown-container:has(.dropdown-panel.show) .topbar-btn .btn-arrow {
    transform: rotate(-180deg);
}

.dropdown-backdrop {
    visibility: hidden;
    opacity: 0;

    position: fixed;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 500;

    transition: visibility 0.2s, opacity 0.2s ease-in;
}

.dropdown-backdrop.show {
    visibility: visible;
    opacity: 1;
}

.dropdown-panel {
    display: none;
    position: fixed;
    top: 32px;
    max-height: calc(100vh - 48px);
    overflow-y: auto;
    background-color: #1e1e2e;
    z-index: 1000;
    flex-direction: column;
    user-select: none;
}

.dropdown-panel.show {
    display: flex; 
}

#repositories-container {
    flex: 1;
    min-width: 0;
}

#repositories-container .dropdown-panel {
    left: 48px;
    width: calc(100% - 256px - 48px);
}

#branches-container {
    width: 256px;
    flex-shrink: 0;
}

#branches-container .dropdown-panel {
    right: 0;
}

.filter-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px;

    box-sizing: border-box;
    gap: 8px;
}

.icon-filter {
    position: absolute;
    left: 14px;
    width: 18px;
    height: 18px;

    background-color: #6c7086;

    mask-image: url('assets/icons/materials_search.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    pointer-events: none;
}

.filter-input {
    width: 100%;
    box-sizing: border-box;
    padding: 4px 4px 4px 26px;

    color: #cdd6f4;
    background-color: #11111b;
    border: 1px solid #313244;
    border-radius: 4px;
    border-color: #11111b;

    font-family: 'FiraCode', sans-serif;
    font-size: 13px;

    transition: border-color 0.1s ease;

    user-select: none;
    outline: none;
}

.filter-input:focus {
    border-color: #cba6f7;
}

.filter-input::placeholder {
    color: #6c7086;
}

.topbar-filter-btn {
    flex-shrink: 0;
    padding: 4px 12px;
    display: inline-flex;
    align-items: center;
    gap: 2px;

    color: #11111b;
    background-color: #cba6f7;
    border: none;
    border-radius: 4px;

    font-family: 'FiraCode', sans-serif;
    font-size: 13px;
    font-weight: 600;

    transition: color 0.1s ease, background-color 0.1s ease;

    user-select: none;
    outline: none;
}

.topbar-filter-btn:hover {
    color: #10101a;
    background-color: #dec7fa;
}

.topbar-filter-btn .btn-arrow {
    width: 18px;
    height: 18px;
    background-color: #11111b;
}

.dropdown-item {
    padding: 2px 8px;

    color: #cdd6f4;
    font-family: 'FiraCode', sand-serif;
    font-size: 14px;

    display: flex;
    align-items: center;
    gap: 8px;

    transition: background-color 0.1s ease;
}

.dropdown-item:hover {
    background-color: #313244;
}

.dropdown-item.active {
    background-color: #45475a;
}

.dropdown-item.active:hover {
    background-color: #313244;
}

/* APP CONTAINER */
.app-container {
    display: flex;
    flex-direction: row;
    flex: 1;
}

/* LEFT SIDEBAR */
.left-sidebar {
    width: 48px;
    background-color: #11111b;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
}

.left-sidebar-btn {
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: none;
    border-radius: 0;
}

.btn-icon {
    width: 24px;
    height: 24px;

    background-color: #6c7086;

    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    transition: background-color 0.1s ease;
}

.left-sidebar-btn:hover .btn-icon {
    background-color: #cba6f7;
}

.icon-file {
    mask-image: url('assets/icons/materials_file_copy.svg'); 
}

.icon-branches {
    mask-image: url('assets/icons/materials_alt_route.svg');
}

.icon-analytics {
    mask-image: url('assets/icons/materials_bar_chart.svg');
}

.icon-todo {
    mask-image: url('assets/icons/materials_assignment.svg');
}

.icon-fetch {
    transform: rotate(-45deg);
    mask-image: url('assets/icons/materials_cached.svg');
}

/* SPLIT CONTAINER */
.split-container{
    display: flex;
    flex: 1;
}

/* MAIN CONTENT */
.main-content {
    min-width: 360px;
    flex-grow: 1;
}

/* RIGHT SIDEBAR */
.right-sidebar {
    width: 256px;
    min-width: 192px;
    background-color: #1e1e2e;

    display: flex;
    flex-direction: column;
}

.right-sidebar-bottom {
    margin-top: auto;

    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    background-color: #313244;
}

.commit-input {
    background-color: #1e1e2e;
    border: 1px solid #1e1e2e;
    border-radius: 4px;
    color: #cdd6f4;
    font-family: inherit;
    font-size: 13px;
    padding: 4px;
    outline: none;
    transition: border-color 0.1s ease;
    user-select: none;
}

.commit-input::placeholder {
    color: #6c7086;
}

.commit-input:focus {
    border-color: #cba6f7;
}

.message-input {
    height: 16px;
}

.description-input {
    min-height: 48px;
    height: 128px;
    resize: vertical;
}

.commit-btn {
    background-color: #cba6f7;
    color: #11111b;
    border: none;
    border-radius: 4px;
    padding: 4px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 600;
    transition: background-color 0.1s ease;
    user-select: none;
}

.commit-btn:hover {
    color: #10101a;
    background-color: #dec7fa;
}

/* RESIZER */
.resizer {
    width: 6px;
    cursor: ew-resize;
    background-color: transparent;
}

/* MODAL BACKDROPS */
.modal-backdrop {
    visibility: hidden;
    opacity: 0;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1500;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: visibility 0.2s, opacity 0.2s ease-in;
}

.modal-backdrop.show {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    background-color: #1e1e2e;
    border-radius: 4px;
    width: 400px;

    display: flex;
    flex-direction: column;

    transform: scale(0.95);
    transition: transform 0.1s ease-in;
}

.modal-backdrop.show .modal-content {
    transform: scale(1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    border-bottom: 1px solid #313244;
    padding: 16px;
}

.modal-header h3 {
    margin: 0;
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
}

.close-modal-icon {
    background: transparent;
    border: none;
    color: #6c7086;
    font-size: 20px;
    cursor: pointer;
    line-height: 1;
    padding: 0;
    transition: color 0.1s ease;
}

.close-modal-icon:hover {
    color: #cba6f7;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
}

.modal-body-row {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.modal-body-row label {
    font-family: inherit;
    font-size: 15px;
    user-select: none;
}

.modal-input {
    width: 100%;
    box-sizing: border-box;
    padding: 4px;

    color: #cdd6f4;
    background-color: #11111b;
    border: 1px solid #313244;
    border-radius: 4px;
    border-color: #11111b;

    font-family: inherit;
    font-size: 13px;

    transition: border-color 0.1s ease;
    user-select: none;
    outline: none;
}

.input-button-container {
    display: flex;
    gap: 8px;
    width: 100%;
}

.input-button-container .modal-input {
    flex: 1;
}

.input-button-container .browse-btn {
    padding: 4px 12px;
    background-color: transparent;
    color: #cdd6f4;
    border: 1px solid #313244;
    border-radius: 4px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    transition: background-color 0.1s ease;
    user-select: none;
}

.browse-btn:hover {
    background-color: #313244;
}

.modal-input:focus {
    border-color: #cba6f7
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    user-select: none;
    border-top: 1px solid #313244;
    padding: 16px;
}

.modal-footer button {
    padding: 6px 8px;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    transition: all 0.1s ease;
}

.modal-footer .cancel-modal-btn {
    background-color: transparent;
    color: #cdd6f4;
    border: 1px solid #313244;
}

.modal-footer .cancel-modal-btn:hover {
    background-color: #313244;
}

.confirm-modal-btn {
    background-color: #cba6f7;
    color: #11111b;
}

.confirm-modal-btn:hover {
    background-color: #dec7fa;
}

/* CONTEXT MENUS */
.context-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: 3000;

    background-color: #11111b;
    padding: 4px 0;
    min-width: 164px;
    border-radius: 6px;
}

.context-menu.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.1s ease, visibility 0.1s;
}

.context-menu-item {
    background: transparent;
    border: none;
    width: 100%;
    text-align: left;

    font-family: inherit;
    font-size: 13px;
    color: #cdd6f4;
    padding: 6px 16px;

    user-select: none;
    transition: background-color 0.1s ease, color 0.1s ease;
}

.context-menu-item:hover {
    background-color: #313244;
}